//imtahan2 section4 start
.imtahan2-section4.container{
    width: 100%;
}
.sec4-box h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}
.sec4-icons-text li{
    list-style-type: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: start;
}
.sec4-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}
.sec4-box{
    width: 373px;
    height: 188px;
    border-radius: 12px;
    background-color: rgba(250, 250, 250, 1);
}
//imtahan2 section4 end
